.error-h1 {
  color: $rosa;
}

.error-h2 {
  text-align: center;
}

.redir img {
  display:block;
    margin:auto;
    width: 300px;
    border-radius: 50%;
    transition: 0.73s;
    transform: rotate(7deg)
    
}

.redir img:hover {
  
  transform: rotate(367deg);
  transition: 0.73s;
}

.containerrr {
    margin-left: 45%;
    max-width: 100px;
    
    
}
  
  .ghost {
    animation: float 3s ease-out infinite;
    left: 20%;
  }
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
  .shadowFrame {
    width: 130px;
    margin-top: 15px;
  }
  .shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;
    ellipse {
      transform-origin: center center;
    }
  }
  
  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }

  