/* seccion ppal con imagenes */

img {
    margin-right: 3px;
}

.grid-container {
    display: grid;
    justify-items: center;
    
    
    border: 1px solid black;
    margin:5rem auto;
    width: 100%;
    max-width: 1400px;
    gap: 5px;
    background-color:  #f1728b; 
    grid-template-columns: repeat(3, 1fr);
    
    grid-template-areas: "grid-container__titulos grid-container__titulos grid-container__titulos"
                         "grid-container__item-1 grid-container__item-2 grid-container__item-3"
                         "grid-container__item-4 grid-container__item-5 grid-container__item-6"
                         "grid-container__titulos--pie grid-container__titulos--pie grid-container__titulos--pie";
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.grid-container .grid-container__titulos {
    grid-area: grid-container__titulos;
    
    
    
}

.grid-container__item-1 {
    grid-area: grid-container__item-1;
    
}

.grid-container__item-2 {
    grid-area: grid-container__item-2;
}

.grid-container__item-3 {
    grid-area:grid-container__item-3;
}

.grid-container__item-4 {
    grid-area:grid-container__item-4;
}

.grid-container__item-5 {
    grid-area:grid-container__item-5;
}

.grid-container__item-6 {
    grid-area:grid-container__item-6;
}


.grid-container__titulos--pie  {
    grid-area:grid-container__titulos--pie;
    
}

.grid-container__titulos--pie a{
    text-decoration: underline;
    color: white;
    font-size: 35px ;
}

.grid-container h2 {
    color: white;
    
}

.iframe {
    text-align: center;
    margin-top: 80px;
}

.iframe h2 {
    font-size: 40px;
}

.iframe p {
    font-size: 30px;
    font-family: $fuente;
    
}

/* tabla con menu */

#menu {
    text-align: center;
    font-size: 3rem;
}

table {
    border-color: black;   
    color:black;
    font-family: monospace;
    font-size: 15px;
    background-color: #ffcdd6;
    border-radius: 8px;
    }

th {
    font-size: 25px;
    color:white;
    background-color: #fc819a;
}

td.nombreRoll {
    font-size: 20px;
}

td.angosto {
    width: 200px;
}

.center
{
 text-align: center;
 list-style-position: inside;
}

ol {
    list-style-type: lower-roman;
}

ol.center li

{
 text-align: left;
 margin-left: 45%;
}

td {
    text-align: center;
}

p {
    font-family: monospace;
    font-size: 16px;
}

.grid-container img:hover {
    transform: scale(1.05);
    transition: 250ms;
}

.grid-container img {
    transition: 250ms;
}

.marginb {
    margin-bottom: 3rem;
}

.botones__inicio {
    display: flex;
    justify-content: space-evenly;
    
}

.size {
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 15px 20px 15px;
}

.home-newsletter {
    padding: 80px 0;
    background: $rosa;
    margin-top: 5rem;
    margin-bottom:2rem;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    background: white;
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    }

.carousel-caption h5 {
    background-color: rgba(0, 0, 0, 0.123);
}