.img-car {
    max-height: 650px;
    width: 100%;
}

.carousel-caption h5 {
    font-size: 2.5rem;
    font-family: $fuente;
    
    
}

.carousel-caption p {
    font-size: 2rem;
    font-family: $fuente;
    margin-top: -50px;
    margin-bottom: 50px;
}

.fill {
    object-fit: fill;
}

.menu__h2 {
    color: $rosa;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}