
/* MEDIA QUERIES TABLET */
/* MEDIA QUERIES TABLET */
/* MEDIA QUERIES TABLET */
/* MEDIA QUERIES TABLET */
/* MEDIA QUERIES TABLET */


@media screen and  (max-width:768px) {

    

    ul li:hover ul {
        display:block;
        margin-bottom: 10px;
        
    }

    .img-car {
        max-width: 100%;
        height: auto;
      }

   
    .contenedorTitulos {
        margin-left: 5%;
        margin-right: 2%;
    }

    #logoInicial {
        margin-top: 30px;
    }

    #logoInicial {
        margin-left: 30%;
    }

    #logoInicial:hover {
        transform: scale(1.10);
        transition-duration: 1s;
     }


    
    .grid-container {
        display: grid;
        justify-items: center;          
        border: 1px solid black;
        margin:20px auto;
        width: 100%;
        max-width: 1400px;
        gap: 5px;
        background-color:  #f1728b; 
        grid-template-columns: repeat(2, 1fr);
        
        grid-template-areas: "grid-container__titulos grid-container__titulos"
                             "grid-container__item-1 grid-container__item-2"
                             "grid-container__item-3 grid-container__item-4"
                             "grid-container__item-5 grid-container__item-6"
                             "grid-container__titulos--pie grid-container__titulos--pie";
    }
    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        
    }
    
    .grid-container .grid-container__titulos {
        grid-area: grid-container__titulos;
              
        
    }
    
    
 
    .iframe-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:auto;
        justify-items: center;
        gap: 10px;
    }

    .iframe__main {
        width:75%;
        
    }

    
    .desaparece-redes {
        display: none;
    }

    .desaparece-boton {
        display: none;
    }

    .nav-item {
        font-size: 1.5rem;
    }

    .grid-container img:hover {
        transform: scale(1.05);
        transition: 250ms;
    }


}

/* MEDIA QUERIES CELULAR */
/* MEDIA QUERIES CELULAR */
/* MEDIA QUERIES CELULAR */
/* MEDIA QUERIES CELULAR */
/* MEDIA QUERIES CELULAR */

@media screen and  (max-width:480px) {

   


    .grid-container img:hover {
        transform: scale(1.05);
        transition: 250ms;
    }

    .nav-item {
        font-size: 0.5rem;
    }

    .carousel-caption h5 {
        font-size: 15px;
        font-family: $fuente;
        
    }
    
    .carousel-caption p {
        font-size: 0.20rem;
        font-family: $fuente;
        
        
    }

    .img-car {
        max-width: 100%;
        height: auto;
      }

    .contenedorTitulos {
        margin-left: 17px;
        margin-right: 5px;
    }

    #logoInicial {
        margin-top: 50px;
    }


    
    .grid-container {
        display: grid;
        justify-items: center;     
        border: 1px solid black;        
        margin:20px auto;
        width: 100%;
        max-width: 1400px;
        gap: 5px;
        background-color:  #f1728b; 
        grid-template-columns: repeat(1, 1fr);
        
        grid-template-areas: "grid-container__titulos"
                             "grid-container__item-1"
                             "grid-container__item-2"
                             "grid-container__item-3"
                             "grid-container__item-4"
                             "grid-container__item-5"
                             "grid-container__item-6"
                             "grid-container__titulos--pie";
    }
    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        
        
    }
    
    .grid-container .grid-container__titulos {
        grid-area: grid-container__titulos;
        font-family: monospace;
              
        
    }
    
    .grid-container__titulos {
        padding-left:12px;
    }
    
    .grid-container .grid-container__titulos h2 {
        color: white;
        font-family: monospace;
               
    }

    .grid-container h2 {
        color: white;
        font-size: 1.20rem;
        
    }

    .grid-container__titulos--pie a {
        font-size: 1.75rem;
    }
    
    .iframe-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:auto;
        justify-items: center;
        gap: 10px;
    }

    .iframe-container__item{
        grid-column: 1/-1;
    }

    #logoInicial {
        margin-left: 18%;
    }
    .desaparece-redes {
        display: none;
    }
    
    .desaparece-boton {
        display: none;
    }

    .iframe__main {
        width: 90%;
        
    }

   
}

@media screen and  (min-width:769px)   {
    .desaparece-barra {
        display: none;
    }
}

/* MEDIA QUERIES FOOTER */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 41px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}


    .footer-left h3 {
        text-align: center;
    }

    .footer-distributed .footer-company-about {
        font-size: 1.4rem;
        color: white;
        line-height: 2;
    }

    

}

@media (max-width: 400px) {
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;
	font-size: 1.3rem;
}
}