.card-img-top {
    height: 300px;
    
}

 .qs-fondo h1 {
    font-size:60px;
    color:$rosa;
    transition: 250ms;
}





.cover {
    object-fit: cover;
}

.card-text span {
    font-weight: bold;
    font-size: 1.2rem;
}


.card-img-top:hover {
    transform: scale(1.03);
    transition: 250ms;
}
.card-img-top {
    transition: 250ms;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }
